@page
@model JoinEventModel

@{
}


<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">Place</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Place)
        </dd>
        <dt class="col-sm-2">Address</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Address)
        </dd>
        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">
            @Model.Event.Date.ToString("yyyy/MM/dd")
        </dd>
        <dt class="col-sm-2">Spots</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.SpotsAvailable)
        </dd>
    </dl>
</div>
<div>
    @if (Model.HasJoined == false)
    {
        <form method="post">
            <input class="btn btn-success" type="submit" value="Join event">
        </form>
        <a class="btn btn-primary" asp-page="./Events">Back to events</a>
    }
    else
    {
        <h2>You have joined @Model.Event.Title event! See you there!</h2>
        <a class="btn btn-primary" asp-page="./Events">View more events</a>
        <a class="btn btn-secondary" asp-page="./MyEvents">View your events</a>
    }
</div>
@if (Request.Method == "post")
{
}
